* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aquamarine;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

#menuDesplegable {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
}

#imagenes img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    display: none; /* Oculta todas las imágenes por defecto */
}

.imagen-visible {
    display: block; /* Muestra solo la imagen seleccionada */
}
