* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;

}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#181818;

}
header{
    background-color:#202020;
	display: flex-end;
    justify-content: flex-end; 
}
nav{
    background-color: #373737;
    padding: 10px;
}
nav ul{
	display: flex;
	padding: 10px;
    
}

nav ul li{
    margin-right: 3px;
    list-style: none;
    padding: 15px;
}

nav ul li:hover{
    background-color:  #7f7f7f;
    border-radius: 20px;
}

nav ul li a {
	padding:25px;
    color: #F0EBF5;
    font-size: 25px;
}

.home_main_grid{
 
    display:grid;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px;
    
}
.download-link {
    display: inline-block;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 8px;
}

.download-link:hover {
    background-color: #45a049;
}
.left_databases {
    margin: 10px;
    background-color: #e6e9ed;
    border-radius: 8px;
    padding: 20px;
    
}
.left_databases ul li {
    list-style: none;
}
.left_databases ul li h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.left_databases ul li p {
    font-size: 25px;
    padding: 15px 20px;
}
.right_objectives{
    margin: 10px;
    background-color: #e6e9ed;
    border-radius: 8px;
    padding: 20px;
}
.right_objectives h3{ 
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.right_objectives p {
    font-size: 25px;
    padding: 15px 20px;
}


a {
    text-decoration: none;
    cursor: pointer;
}

footer{
    margin: 15px;
	display: flex;
    justify-content: flex-end; 
}
footer ul li {
    list-style: none;
}
footer ul li a{
	padding:20px;
    color: #F0EBF5;
    font-size: 10px;
    
}
